<div class="wrapper">
    <div class="page-header page-header-small clear-filter" filter-color="blue">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="content-center brand">
                    <img class="n-logo" src="assets/img/sn-logo-t2.png" alt="">
                    <h1 class="h1-seo">SN Construções</h1>
                    <h3>Construímos história e edificamos amizades.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="carousel">
        <div class="container">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title text-titles">Missão</h2>
                <h5 class="description">A SN Construções é uma empresa que prima pelo trabalho com segurança e dignidade, desta forma procura agregar valor a todos, desde o colaborador, impactando inclusive a sociedade. Construímos com qualidade proporcionando conforto, tranquilidade e satisfação em cada cliente, nossa missão principal é ter a honra de sermos bem lembrados por nossas criações e obras, assim deixando nossa “marca” no planeta.</h5>

                <h6 class="title text-primary mt-5">Abaixo, algumas de nossas conquistas.</h6>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 col-sm-12">
                  <ngb-carousel>
                      <ng-template *ngFor="let img of imgCollection" ngbSlide>
                        <a [href]="img.href"><img class="d-block" [src]="img.img" alt="First slide"></a>
                        <div class="mask">
                            <h5 class="mask-text">{{ img.msg }}</h5>
                            <a class="mask-link" [href]="img.href">Saiba mais.</a>
                        </div>
                      </ng-template>
                  </ngb-carousel>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-titles">Quem somos?</h2>
                    <h5 class="description">Criada no ano de 2013, a Silva & Nunes Construções teve seu início com mão de obra especializada, prestando serviços a vários clientes, deixando um legado e sendo referência no setor. Em 2019, com atualizações e mudanças, passa de Silva & Nunes para SN Construções, que atua no segmento da construção civil, tendo como foco a qualidade, rendimento e segurança, procurando acompanhar os aportes de sempre inovarmos com tecnologia, sem perder de vista a tradição das melhores técnicas e conhecimento na construção civil, respeitando sempre a segurança e o meio ambiente.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title text-titles">Equipe</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/vitor.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Vitor Nunes</h4>
                            <p class="category text-primary">Fundador</p>
                            <p class="description">Estudante de engenharia-civil, possui ampla experiência em obras, concluiu várias construções trabalhando em Assis e região.</p>
                                <div class="social-media-icons">
                                    <a href="https://www.facebook.com/vitorhsn27" target="_blank"><i class="text-primary fab fa-facebook icon"></i></a>
                                    <a href="https://www.instagram.com/vitorhsn27/" target="_blank"><i class="text-primary fab fa-instagram icon"></i></a>
                                    <a href="https://www.linkedin.com/in/victor-nunes-94860b1b2" target="_blank"><i class="text-primary fab fa-linkedin icon"></i></a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/ezequiel.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ezequiel Nunes</h4>
                            <p class="category text-primary">Gerente</p>
                            <p class="description">Eencarregado de obras, construtor e mestre de obras, possui 25 anos de experiência e conhecimento na construção civil, construiu um nome e reputação na cidade de Assis e Região, dando qualidade e rendimento em todas suas obras.</p>
                                <div class="social-media-icons icon">
                                    <a href="https://www.facebook.com/ezequiel.nunes.79" target="_blank"><i class="text-primary fab fa-facebook"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center p-0">
        <app-contact></app-contact>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Criado por <a href="https://www.linkedin.com/in/gabriel-silla-596272108/" target="_blank">Gabriel Silla</a>
            </div>
        </div>
    </footer>
</div>
