<div class="wrapper">
    <div class="page-header page-header-small clear-filter" filter-color="blue">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="content-center brand">
                    <img class="n-logo" src="assets/img/sn-logo-t2.png" alt="">
                    <h1 class="h1-seo">SN Construções</h1>
                    <h3>Construímos história e edificamos amizades.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="carousel">
        <div class="container">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title text-titles">Conquistas</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-9">
                  <ngb-carousel>
                      <ng-template *ngFor="let img of imgCollection" ngbSlide>
                        <img class="d-block" [src]="img.img" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ img.msg }}</h5>
                        </div>
                      </ng-template>
                  </ngb-carousel>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-titles">Quem somos?</h2>
                    <h5 class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>

            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="obra1">
                            <div class="custom-image-container image-left" style="background-image: url('assets/img/obra3.jpg')"></div>
                            <h3 class="text-titles">So what does the new record for the lowest level of winter ice actually mean</h3>
                            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                            </p>
                            <p>
                                For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                            </p>
                            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- First image on the right side, above the article -->
                        <div class="obra3">
                            <div class="custom-image-container image-right" style="background-image: url('assets/img/obra1.png')"></div>
                            <h3 class="text-titles">So what does the new record for the lowest level of winter ice actually mean</h3>
                            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                            </p>
                            <p>
                                For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                            </p>
                            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">                        
                        <div class="obra2">
                            <div class="custom-image-container" style="background-image: url('assets/img/obra2.jpg')"></div>
                            <h3 class="text-titles">So what does the new record for the lowest level of winter ice actually mean</h3>
                            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                            </p>
                            <p>
                                For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                            </p>
                            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title text-titles">Equipe</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/vitor.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Vitor Nunes</h4>
                            <p class="category text-primary">Fundador</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <div class="social-media-icons">
                                    <i class="text-primary fab fa-facebook"></i>
                                    <i class="text-primary fab fa-instagram"></i>
                                    <i class="text-primary fab fa-linkedin"></i>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/ezequiel.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ezequiel Nunes</h4>
                            <p class="category text-primary">Gerente</p>
                            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.</p>
                                <div class="social-media-icons">
                                    <i class="text-primary fab fa-facebook"></i>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 id="contact" class="title text-titles">Contato</h2>
            <div class="social-media-icons contact row"><i class="text-primary fab fa-whatsapp mr-2"></i><p class="category text-primary">(18) 99155-1377</p></div>
            <div class="social-media-icons contact row"><i class="text-primary fab fa-whatsapp mr-2"></i><p class="category text-primary">(18) 99627-9743</p></div>
            <div class="social-media-icons contact row"><i class="text-primary fa fa-envelope mr-2"></i><p class="category text-primary">VHSNUNESCONSTRUCOES@GMAIL.COM</p></div>

            <div class="social-media-icons contact mt-3"><p class="category text-titles mb-0">SN CONSTRUÇÕES</div>
            <div class="social-media-icons contact"><p class="description">Construtora no segmento de montagem e incorporações de galpões e soluções industriais</p></div>

        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Criado por <a href="https://www.linkedin.com/in/gabriel-silla-596272108/" target="_blank">Gabriel Silla</a>
            </div>
        </div>
    </footer>
</div>
