<div class="container">
    <h2 id="contact" class="title text-titles">Contato</h2>
    <div class="social-media-icons contact row"><i class="text-primary fab fa-whatsapp mr-2 icon"></i><p class="category text-primary"><a [href]="getLinkWhastapp('+5518991551377', 'Olá, vim pelo site da SN Construcoes.')" target="_blank">(18) 99155-1377<span class="ml-2 badge bg-theme">Clique aqui!</span></a></p></div>
    <div class="social-media-icons contact row"><i class="text-primary fab fa-whatsapp mr-2 icon"></i><p class="category text-primary"><a [href]="getLinkWhastapp('+5518996279743', 'Olá, vim pelo site da SN Construcoes.')" target="_blank">(18) 99627-9743<span class="ml-2 badge bg-theme">Clique aqui!</span></a></p></div>
    <div class="social-media-icons contact row"><i class="text-primary fa fa-envelope mr-2 icon"></i><p class="category text-primary"><a href="mailto:VHSNUNESCONSTRUCOES@GMAIL.COM">VHSNUNESCONSTRUCOES@GMAIL.COM</a></p></div>

    <div class="social-media-icons contact mt-3"><p class="category text-titles mb-0">SN CONSTRUÇÕES</div>
    <div class="social-media-icons contact"><p class="description">Construtora no segmento de montagem e incorporações de galpões e soluções industriais</p></div>

</div>